@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

:root {
  --bg-color: #141414;
  --surface: #1f1f1f;
  --accent: #8dad36;
  --button-color: #333333;
  --text-primary: #dbdbdb;
  --text-secondary: #999999;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
.main {
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2em;
  gap: 1em;
  min-width: 20%;
}
.main__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.main__avatar {
  max-width: 64px;
  border-radius: 100%;
}
.main__name {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-primary);
  margin: 0;
}
.main__address {
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--accent);
  margin: 0;
  padding-bottom: 0.5em;
}
.main__title {
  font-size: 1em;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-secondary);
  margin: 0;
}
.main__sl {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8em;
}
.main__button {
  background-color: var(--button-color);
  padding: 0.5em;
  width: 100%;
  border-radius: 4px;
  border: none;
}
.main__link {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
}
.attribution {
  color: var(--text-primary);
}
.attribution__fm-link {
    color: #1f25dd;
}
.attribution__author-link {
    color: #b71fdd;
}
